/* =========================================================================
 *	Helper classes
 *	styles that usually do one thing only - single-responsibility classes,
 *	so the use of !important is justifiable here
	 ========================================================================= */

/* center an element */
.centered {
	margin: 0 auto !important;
}

/* font family */
// .font-primary {
// 	font-family: $font-primary !important;
// }

/* put padding top and bottom on an element */
.spaced {
	padding-top: 1.5em !important;
	padding-bottom: 1.5em !important;
}

/* remove padding on element */
.no-padding {
	padding: 0 !important;
}

/* remove margin on element */
.no-margin {
	margin: 0 !important;
}

/* removes border-radius */
.no-border-radius {
  border-radius: 0 !important;
}

/* removes card footer style */
.no-card-footer {
  background: none !important;
  border: none !important;
}

/* removes underline in link when hovered */
.no-underline:hover {
  text-decoration: none;
}

// Z-levels / Box shadows
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}