/* =========================================================================
  * Header Style
   ========================================================================= */

  .main-footer {
    &__top-logo {
      display: block;
      margin: 0 auto;
    }

    &__bottom {
      background: $black;
      color: $white;
      text-align: center;
      font-size: 0.8rem;
      padding: 0.5em 0;
    }
  }