/* =========================================================================
  * Header Style
   ========================================================================= */

  .header {
    // Hero
    &__hero {
      text-align: center;
      padding: 3em 0;
      @include desktopUp {
        text-align: left;
      }
    }
    // Navbar
  }