/* =========================================================================
  * Skill Style
   ========================================================================= */

   .skill {
    &__title {
      text-align: center;
      @include desktopUp {
        text-align: left;
      }
    }
    &__description {
      text-align: center;
      @include desktopUp {
        text-align: left;
      }
    }
  }