/* =========================================================================
 *	Base styles
	 ========================================================================= */

  body {
    font-family: $font-primary;
  }

  h1 {
    font-family: $font-secondary;
  }

  p {
    color: $mischka;
  }
