/* =========================================================================
  * Footer Sections Style
   ========================================================================= */

   .ftr-section {
    &__link {
      color: darken($pearl, 20%);
      &:hover {
        color: darken($pearl, 30%);
        text-decoration: none;
      }
    }
  }