/* =========================================================================
  * JS Classes
   ========================================================================= */

   .is-scrolled {
    background: $pearl;
    border-bottom: 1px solid darken($pearl, 10%);
    border-top: none;
    padding: 0.8em 0;
  }